body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

header {
    background: #020617;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #38bdf8;
    margin-left: 15px;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}
