body { font-family: Arial; background:#0f172a; color:white; margin:0; }
header { background:#020617; padding:20px; display:flex; justify-content:space-between; }
nav a { color:#38bdf8; margin-left:15px; text-decoration:none; }
.grid { display:grid; grid-template-columns:repeat(auto-fill,minmax(250px,1fr)); gap:15px; }
.card { background:#1e293b; padding:15px; border-radius:10px; }
input, select, button { display:block; margin:10px 0; padding:10px; width:100%; border-radius:6px; border:none; }
button { background:#38bdf8; color:black; font-weight:bold; cursor:pointer; }
