body { font-family: Arial; background: #0f172a; color: white; }
nav { background: #020617; padding: 15px; }
nav a { color: white; margin-right: 15px; text-decoration: none; }
.container { padding: 20px; }
.card { background: #1e293b; padding: 20px; border-radius: 10px; display:inline-block; margin:10px;}
.btn { background:#38bdf8; padding:10px; border-radius:8px; text-decoration:none; color:black;}
table { width:100%; background:#1e293b; border-radius:10px; padding:10px;}
.flash { background:#22c55e; padding:10px; margin:10px;}
