body {
    font-family: Arial;
    margin: 40px;
    background: #f5f6fa;
}

h1 {
    color: #2f3640;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    width: 250px;
}
