{% extends 'base.html' %}
{% block content %}
<h1>Cadastrar Atleta</h1>
<form method="POST">
<input name="nome" placeholder="Nome">
<input name="cpf" placeholder="CPF">
<input type="date" name="nascimento">
<input name="altura" placeholder="Altura">
<input name="endereco" placeholder="Endereço">
<input name="telefone" placeholder="Telefone">
<input name="responsavel" placeholder="Responsável">
<input name="telefone_responsavel" placeholder="Telefone Responsável">
<input name="escola" placeholder="Escola">
<input name="local_treino" placeholder="Local de Treino">
<input name="tamanho_camisa" placeholder="Tamanho Camisa">
<select name="padrao_jogo">
<option value="sim">Padrão de Jogo - Sim</option>
<option value="nao">Não</option>
</select>
<select name="padrao_treino">
<option value="sim">Padrão de Treino - Sim</option>
<option value="nao">Não</option>
</select>
<input name="numero_camisa" placeholder="Número Camisa">
<button>Salvar</button>
</form>
{% endblock %}
