{% extends 'base.html' %}
{% block content %}

<h1 class="text-2xl font-bold mb-4">Competições</h1>

<a href="/cadastrar_competicao" class="bg-indigo-600 text-white px-4 py-2 rounded-lg">
+ Nova Competição
</a>

<table class="w-full mt-4">
<thead class="bg-gray-200">
<tr>
<th class="p-2">Nome</th>
<th>Ano</th>
<th>Limite</th>
</tr>
</thead>
<tbody>
{% for comp in competicoes %}
<tr class="border-b">
<td class="p-2">{{ comp.nome }}</td>
<td>{{ comp.ano }}</td>
<td>{{ comp.limite }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
