{% extends 'base.html' %}
{% block content %}

<h2>Atletas</h2>

<div class="grid">
{% for atleta in atletas %}
<div class="card">
    <h3>{{ atleta.nome }}</h3>
    <p>{{ atleta.categoria }}</p>

    <a href="/editar_atleta/{{ atleta.id }}">Editar</a>
    <a href="/remover_atleta/{{ atleta.id }}">Remover</a>

    <div class="inscricao">
        {% for comp in competicoes %}
            <a href="/inscrever/{{ atleta.id }}/{{ comp.id }}">
                + {{ comp.nome }}
            </a>
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>

<br><br>

<h2>Competições</h2>

<div class="grid">
{% for comp in competicoes %}
<div class="card">
    <h3>{{ comp.nome }}</h3>
    <p>
        Ano: {{ comp.ano }} <br>
        Limite: {{ comp.limite_atletas }}
    </p>

    {% if comp.inscricoes %}
        <div class="inscricao">
            <strong>Inscritos:</strong><br><br>
            {% for insc in comp.inscricoes %}
                • {{ insc.atleta.nome }} <br>
            {% endfor %}
        </div>
    {% else %}
        <div class="inscricao">
            <em>Nenhum atleta inscrito</em>
        </div>
    {% endif %}

</div>
{% endfor %}
</div>

{% endblock %}
