{% extends 'base.html' %}
{% block content %}

<h2 class="text-3xl font-bold mb-6">Inscrições</h2>

<form method="POST" class="bg-white p-6 rounded-2xl shadow flex gap-4">

<select name="atleta_id" class="p-3 border rounded-xl flex-1">
{% for a in atletas %}
<option value="{{ a.id }}">{{ a.nome }}</option>
{% endfor %}
</select>

<select name="competicao_id" class="p-3 border rounded-xl flex-1">
{% for c in competicoes %}
<option value="{{ c.id }}">{{ c.nome }}</option>
{% endfor %}
</select>

<button class="bg-indigo-600 text-white px-6 rounded-xl">
Inscrever
</button>

</form>

{% endblock %}
