{% extends 'base.html' %}
{% block content %}
<h1>Novo Atleta</h1>
<form method="post">
<input name="nome" placeholder="Nome">
<input name="altura" placeholder="Altura">
<input name="endereco" placeholder="Endereço">
<input name="telefone" placeholder="Telefone">
<input name="responsavel" placeholder="Responsável">
<input name="telefone_responsavel" placeholder="Telefone Responsável">
<input name="escola" placeholder="Escola">
<input name="local_treino" placeholder="Local Treino">
<input name="tamanho_camisa" placeholder="Tamanho Camisa">
<input name="padrao_jogo" placeholder="Padrão Jogo">
<input name="padrao_treino" placeholder="Padrão Treino">
<input name="numero_camisa" placeholder="Número Camisa">
<button>Salvar</button>
</form>
{% endblock %}
